/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f1f1f1;
}

#nav-left button, #nav-right button {
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  cursor: pointer;
}

#nav-left button:hover, #nav-right button:hover {
  background-color: #0056b3;
}

#content {
  padding: 20px;
  text-align: center;
}

button {
  cursor: pointer;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#user-profile {
  text-align: center;
}

.dark-theme {
  background-color: #121212;
  color: white;
}

.dark-theme nav {
  background-color: #333;
}

.dark-theme #nav-left button, .dark-theme #nav-right button {
  background-color: #444;
}

.dark-theme #nav-left button:hover, .dark-theme #nav-right button:hover {
  background-color: #555;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Black with opacity */
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Welcome Message Pop-up */
#welcome-message h2 {
  text-align: center;
}

#books-content {
  padding: 20px;
  text-align: center;
}

#book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.book-card .book-info {
  padding: 15px;
  text-align: left;
}

.book-card .book-info h3 {
  margin: 0;
  font-size: 18px;
}

.book-card .book-info p {
  font-size: 14px;
  color: #555;
}
